.git/
bin/

cfg/banned_ip.cfg
cfg/banned_user.cfg
cfg/config_default.cfg
cfg/controller.cfg
cfg/cpu_level_0_pc.ekv
cfg/cpu_level_0_pc_ss.ekv
cfg/cpu_level_1_pc.ekv
cfg/cpu_level_1_pc_ss.ekv
cfg/cpu_level_2_pc.ekv
cfg/cpu_level_2_pc_ss.ekv
cfg/default_server_ambush.cfg
cfg/default_server_battle.cfg
cfg/default_server_checkpoint.cfg
cfg/default_server_conquer.cfg
cfg/default_server_elimination.cfg
cfg/default_server_firefight.cfg
cfg/default_server_flashpoint.cfg
cfg/default_server_hunt.cfg
cfg/default_server_infiltrate.cfg
cfg/default_server_invasion.cfg
cfg/default_server_occupy.cfg
cfg/default_server_outpost.cfg
cfg/default_server_push.cfg
cfg/default_server_skirmish.cfg
cfg/default_server_strike.cfg
cfg/default_server_survival.cfg
cfg/default_server_vendetta.cfg
cfg/dev_mode.cfg
cfg/game_mode.cfg
cfg/game_mode_nav.cfg
cfg/gpu_level_0_pc.ekv
cfg/gpu_level_1_pc.ekv
cfg/gpu_level_2_pc.ekv
cfg/gpu_level_3_pc.ekv
cfg/gpu_mem_level_0_pc.ekv
cfg/gpu_mem_level_1_pc.ekv
cfg/gpu_mem_level_2_pc.ekv
cfg/heatmap.cfg
cfg/insserver.cfg
cfg/joy_configuration_sc.cfg
cfg/joy_configuration_sc_absolute.cfg
cfg/joy_configuration_sc_analog.cfg
cfg/joystick.cfg
cfg/mem_level_0_pc.ekv
cfg/mem_level_1_pc.ekv
cfg/mem_level_2_pc.ekv
cfg/moddefaults.txt
cfg/moddefaults_mac.txt
cfg/nav_mode.cfg
cfg/pure_server_full.txt
cfg/pure_server_minimal.txt
cfg/pure_server_whitelist.txt
cfg/pure_server_whitelist_example.txt
cfg/server.cfg.example
cfg/server_official_ow.cfg
cfg/server_practice.cfg
cfg/server_solo.cfg
cfg/server_training.cfg
cfg/servervoiceban.cfg
cfg/training_offline.cfg
cfg/training_online.cfg
cfg/trusted_keys_base.txt
cfg/trusted_keys_example.txt
cfg/undo360controller.cfg
cfg/valve.rc

download/
expressions/
logs/
maps/

afdetail.vbsp
ambushdetail.vbsp
botchatter.db
botprofile.db
chdetail.vbsp
croatiadetail.vbsp
detail.vbsp
durations.cache
gameinfo.txt
gameinfo_srgb.txt
gametypes.txt
glshaders.cfg
insurgency_materials_000.vpk
insurgency_materials_001.vpk
insurgency_materials_002.vpk
insurgency_materials_003.vpk
insurgency_materials_004.vpk
insurgency_materials_005.vpk
insurgency_materials_006.vpk
insurgency_materials_007.vpk
insurgency_materials_008.vpk
insurgency_materials_009.vpk
insurgency_materials_010.vpk
insurgency_materials_011.vpk
insurgency_materials_012.vpk
insurgency_materials_013.vpk
insurgency_materials_dir.vpk
insurgency_misc_000.vpk
insurgency_misc_dir.vpk
insurgency_models_000.vpk
insurgency_models_001.vpk
insurgency_models_dir.vpk
insurgency_particles_000.vpk
insurgency_particles_dir.vpk
insurgency_sound_000.vpk
insurgency_sound_001.vpk
insurgency_sound_002.vpk
insurgency_sound_003.vpk
insurgency_sound_004.vpk
insurgency_sound_005.vpk
insurgency_sound_006.vpk
insurgency_sound_007.vpk
insurgency_sound_dir.vpk
iraqdetail.vbsp
irdetail.vbsp
irdetail2.vbsp
jurisdetail.vbsp
lights.rad
makereslists.txt
mapcycle.txt
mapcycle_all.txt
mapcycle_ambush.txt
mapcycle_attackdefend.txt
mapcycle_checkpoint.txt
mapcycle_comp.txt
mapcycle_comp_ambush.txt
mapcycle_comp_firefight.txt
mapcycle_comp_skirmish.txt
mapcycle_conquer.txt
mapcycle_cooperative.txt
mapcycle_firefight.txt
mapcycle_flashpoint.txt
mapcycle_hunt.txt
mapcycle_infiltrate.txt
mapcycle_objrespawn.txt
mapcycle_occupy.txt
mapcycle_outpost.txt
mapcycle_practice.txt
mapcycle_push.txt
mapcycle_singlelife.txt
mapcycle_skirmish.txt
mapcycle_strike.txt
mapcycle_survival.txt
mapcycle_sustained_combat.txt
mapcycle_tactical_operations.txt
maplist.txt
modelsounds.cache
panjdetail.vbsp
peakdetail.vbsp
sodetail.vbsp
stats.txt
steam.inf
testserverlist.txt
whitelist.cfg
